<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Load image</title>
    <script
			  src="https://code.jquery.com/jquery-3.7.0.min.js"
			  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
			  crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    <style type="text/css">
        #imagebox { width: {{2 * target_width}}px; height: {{2 * target_height}}px; }
    </style>
    <link rel="icon" href="data:;base64,iVBORw0KGgo="></link> {# no favicon #}
</head>
<body>

<form action="" method="post" enctype="multipart/form-data">

    {% if not pic_b64 %}
        <div style="padding 1em">
            <input type="file" id="pic" name="pic" accept="image/png, image/jpeg"/>
            <input type="submit" id="go" name="go" value="Next..."/>
        </div>
        <script type="text/javascript">
            navigator.mediaDevices.getUserMedia({
                video: { facingMode: "user" },
            }).then((mediaStream) => {
    const video = document.querySelector("video");
    video.srcObject = mediaStream;
    video.onloadedmetadata = () => {
        $('#photodiv').show();
        video.play();
    };
  })
  .catch((err) => {
    // always check for errors at the end.
    console.error(`${err.name}: ${err.message}`);
  });

        </script>
    <div id="photodiv">
        <video id="video" controlslist="nofullscreen nodownload noremoteplayback noplaybackrate" disablepictureinpicture ></video>
        <input type="button" id="snap" value="&#x1f4f7; Take photo"/>
</div>

    {% else %}
        <div style="padding 1em">
            <input type="submit" name="restart" value="Upload a different picture"/>
            <input type="button" id="use" value="Next..."/>
            <input name="pic2" type="hidden" value="{{pic_b64}}"/>
            <input id="rotl" value="&#x2b6f;" type="button"/>
            <input id="rotr" value="&#x2b6e;" type="button"/>
            <button id="rotr90">
                <span style="display: inline-block; transform: rotate(-90deg)">&#x1f610;</span>
            </button>
            <input type="hidden" id="x" value="{{ x }}"/>
            <input type="hidden" id="y" value="{{ y }}"/>
            <input type="hidden" id="scale" value="{{ scale }}"/>
            <input type="hidden" id="target_width" value="{{ target_width }}"/>
            <input type="hidden" id="target_height" value="{{ target_height }}"/>
        </div>
        <div style="padding: 2em">
            <div id="imagebox">
                <img id="image" src="{{pic_b64}}">
            </div>
            <p>Scale: {{scale}}</p>
            <p>X: {{x}}</p>
            <p>Y: {{y}}</p>
        </div>
    {% endif %}




</form>

<script type="text/javascript" src="static/face.js"></script>

</body>
</html>